.nav{
    margin-left: 30%;
    flex: 2 1 auto;
    text-align: right;
    
    &__link {
        padding-right: 4rem;
        display: inline;
        font-style: none;
        font-size: $fontSize;

        & a{
            text-decoration: none;
            color: black;
        }

        &--active {
            color: $secondaryColor;
            &:hover{
                cursor:default;
            }
        }

        & a:hover{
            color: $secondaryColor;
        }
    }
    
}