.nav{
    margin-top:.5rem;
    flex: 2 1 auto;
    text-align: right;

    @include mobile-only{
        margin-top: 0.3rem;
        
    }
    
    &__link {
        padding-right: 4rem;
        display: inline;
        font-style: none;

        @include mobile-only{
            padding-right:0.2rem;
            display:none;
        }

        & a{
            text-decoration: none;
            color: black;
        }

        &--active {
            color: $secondaryColor;
            &:hover{
                cursor:default;
            }
        }

        & a:hover{
            color: $secondaryColor;
        }

        &--mobile{
            @include mobile-only{
                display: inline;
                margin-right: 10%;
            }
        }
    }

    
    
}