@font-face {
    font-family: 'Poppins-regular';
    src: url('../poppins/Poppins-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-700' ;
    src: url('../poppins/Poppins-SemiBold.otf');
    font-weight: bold;
    font-style: normal;
}

h1, .title{
    font-family: 'Poppins-700';
    font-weight: 700;
    font-size: $fontSizeTitle;
    font-style: bold;

    @include mobile-only{
        font-size: $fontSizeTitle - 0.2rem,
    }
    &__sub{
        font-size: $fontSizeTitle - 0.2;
    }
}


.regular{
    font-family: 'Poppins-regular';
    font-size: 0.9rem;
}

p{
    font-family: 'Poppins-regular';
    font-size: 0.9rem;
}