@font-face {
    font-family: 'Poppins-regular';
    src: url('../font/Poppins-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-700' ;
    src: url('../font/Poppins-SemiBold.otf');
    font-weight: bold;
    font-style: normal;
}

h1, .title{
    font-family: 'Poppins-700';
    font-weight: 700;
    font-size: $fontSizeTitle;
    font-style: bold;

    @include mobile-only{
        font-size: $fontSizeTitle - 0.3,
    }
    &__sub{
        font-size: $fontSizeTitle - 0.2;
        @include mobile-only{
            font-size: $fontSizeTitle - 0.4;
        }
    }
}


p, .regular{
    font-family: 'Poppins-regular';
    font-size: $fontSize;

    @include mobile-only{
        font-size: $fontSize - 0.2;
    }
    
}

