@font-face {
    font-family: 'Poppins-regular';
    src: url('../poppins/Poppins-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-700' ;
    src: url('../poppins/Poppins-SemiBold.otf');
    font-weight: bold;
    font-style: normal;
}

h1, .title{
    font-family: 'Poppins-700';
    font-weight: 700;
    font-size: 2rem;
    font-style: bold;
    &__sub{
        font-size: 1.5rem;
    }
}


.regular{
    font-family: 'Poppins-regular';
    font-size: $fontSize;
}

p{
    font-family: 'Poppins-regular';
    font-size: 0.9rem;
}