.container{
    &__image{
        top:33%;
        display: grid;

        @include mobile-only{
            display: flex;
            top:0;
            top: 10rem;
            left: 4rem;
            position: absolute;
    }
        }
        
}

.box{
    &__image{
        grid-row: 1;
        grid-column: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:6rem;

        @include mobile-only{
            flex-direction: column;
            gap:4rem;
        }
        
        &--membre{
            height: 17rem;
            width: 17rem;
            border-radius:50%;

            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center 50%;

            text-align: center;


            &--Titouan{
                background-image: url("../images/Titouan.jpeg");
                
            }

            &--Camille{
                background-image: url("../images/Camille.jpeg");
            }

            &--Guillaume{
                background-image: url("../images/Guillaume.jpeg")
            }

            &--Albane{
                background-image: url("../images/Albane.jpg")
            }
            
        }

    }
}

.text{
    width:100%;

    grid-column:1;
    grid-row: 2;

    margin-top:3%;

    align-items:"justify";

    @include mobile-only{
        width:90%;
    }
}